*{
    box-sizing: border-box;
}

main{
    padding: 3%;
}

.p-1{
   padding: 2% !important;
}

.n-magin{
   margin: 0 !important;
}

.w100{
   width: 100%;
}

.sect{
    width: 100%;
    margin-bottom: 2%;
 }

 .bg-ligth{
    background: linear-gradient(to bottom right, #542461, hsl(285, 98%, 39%)) !important;
 }

  .bg-dark{
    background: rgb(68, 22, 68) !important;
 }

 .opt{
    width: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 2fr 7fr 1fr 1fr;
    padding: 2%;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #2c0e5f, #450783);
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.526);
 }

 .entrada{
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
 }


 .btn{
    all: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10%;
    margin-right: 10px;
    color: white;
 }

 .btn:hover{
    transition: 0.3s;
    transform: translateY(-3px);
    opacity: 0.9;
 }

 .success{
    background-color: #33a158;
 }

 .danger{
    background-color: #a13a33;
 }

 .report:hover{
    transition: 0.3s;
    transform: translateY(-3px);
    opacity: 0.9;
 }

 .table{
   width: 100%;
   border-collapse: collapse;
 }

 .table thead, tbody td{
   border-bottom: 2px solid rgb(60, 22, 114);
 }

.table th,
.table td {
  text-align: center;
  vertical-align: middle; 
  padding: 1%;
  max-width: 250px;
}

.fila:hover{
   transition: 0.2s;
   background-color: rgba(0, 0, 0, 0.156);
}